extends layout

block content
  h1 Welcome to #{title}
  form(action="/url" method="GET")
    input(type="submit" value="Generate new short URL")
  h1 Your URLs
    ul
      each url in urls
        li #{url.longUrl} ⟶ #{url.shortUrl}
        a(href=`/u/${url.shortUrl}`) Visit URL
        form(action=`/${url._id}/delete` method="POST")
          input(type="submit" value="Delete")